:root {
  --red-bg-color: rgba(241, 90, 53, 0.2);
  --grey-bg-color: rgba(222, 229, 244, 0.5);
  --purple-bg-color: rgba(215, 190, 215, 0.2);
}

header,
main,
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 100px 0;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

@media (max-width: 900px) {
  header,
  main,
  footer {
    padding: 20px 40px 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img.logo {
  display: inline-block;
  height: 28px;
  vertical-align: middle;
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
